@model eTravel.Models.Agencije.AgencijeIndexModel

<div id="agencije">
    <h3>Agencije Detail</h3>


    <div id="agencijeTable">
            <table class="table table-condensed" id="klijentIndexTable">
                <thead>
                    <tr>
                        <th class="cell-150">Naziv</th>
                        <th>Slika</th>
                        <th>Telefon</th>
                        <th>Manager</th>
                        <th>Adresa</th>
                        <th>Putovanje</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var k in Model.Agencije)
                    {
                    <tr class="assetRow">
                        <td>@k.Naziv</td>
                        <td class="">
                            <a asp-controller="Agencije" asp-action="Detail" asp-route-id="@k.Id">
                                <img src="@k.SlikaUrl" class="imageCell" />
                            </a>
                        </td>
                        <td>@k.Telefon</td>
                        <td>@k.Manager</td>
                        <td>@k.Adresa</td>
                        <td>@k.Putovanje</td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

</div>